@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@300;400;700&display=swap");

:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-azul: #0091ea;
  --color-gris: #7e7d7dfd;
  --color-rosa: #eb367f;
  --color-naranja: #fc6d26;
  --color-principal: var(var(--color-light));
  --font-family-OpenSans: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  transition-duration: 0.5s; /* Puedes ajustar la duración según tus preferencias */
}

body {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--color-principal);
  font-family: var(--font-family-OpenSans);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Header */

.header {
  width: 15%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid gray;
  font-family: var(--font-family-OpenSans);
}

nav.navbar {
  /* border: 1px solid red; */
  padding-top: 30%;
  padding-bottom: 30%;
}

nav.navbar a {
  display: block;
  text-align: center;
  color: var(--color-dark);
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  padding-top: 1rem;
  /* padding: 0.5rem 1rem; */
  transition: all 0.2s ease-in-out;
}

nav.navbar a:hover {
  color: var(--color-gris);
  border-radius: 10px;
}

/* Botón de cambio de tema */
/* The switch - the box around the slider */
#theme-toggle-button {
  font-size: 17px;
  position: relative;
  display: block;
  width: 3.5em;
  cursor: pointer;
  padding-bottom: 0.5rem;
  margin: 0 auto;
}

/* Hide default HTML checkbox */
#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.2s;
}

/* night sky background */
#toggle:checked + svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked + svg #button {
  transform: translate(26px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}

/* Contenedor */
.container {
  width: 65%;
}

.container__article {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.container__article-presentation {
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
}

/* Imagen de presentación */

.photo__presentation {
  height: 400px;
  width: 400px;
  background-image: url("../assets/images/mePhoto.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
/* Titulo de presentación */
.text__presentation {
  text-align: left;
}

.title__word {
  font-family: var(--font-family-OpenSans);
  font-size: 5rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color-change 5s gradient infinite;
}

.title__word-1 {
  background-image: linear-gradient(to right, #0081ef, #00cddc);
}

.title__word-2 {
  background-image: linear-gradient(to right, #8126c6, #e4088f);
}

.title__word-3 {
  background-image: linear-gradient(to right, #fe6147, #b14331);
}

/* About */
.about__information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.title__article {
  font-family: var(--font-family-OpenSans);
  font-weight: bold;
  display: inline-block;
  border-bottom: 2px var(--color-naranja) solid;
}

.about__paragraph {
  width: 65%;
  line-height: 1.5;
  padding-bottom: 20px;

}

/* Botón de descarga de CV */
.about__download_button {
  --main-focus: #2d8cf0;
  --font-color: #323232;
  --bg-color-sub: #dedede;
  --bg-color: #eee;
  --main-color: #323232;
  position: relative;
  width: 190px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.about__download_button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.about__download_button .button__text {
  transform: translateX(22px);
  color: var(--font-color);
  font-weight: 600;
}

.about__download_button .button__icon {
  position: absolute;
  transform: translateX(150px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__download_button .svg {
  width: 20px;
  fill: var(--main-color);
}

.about__download_button:hover {
  background: var(--bg-color);
}

.about__download_button:hover .button__text {
  color: transparent;
}

.about__download_button:hover .button__icon {
  width: 190px;
  transform: translateX(0);
}

.about__download_button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}

/* Educación */

ul > li {
  line-height: 1.5rem;
}

.degree__item {
  padding-bottom: 20px;
  /* font-weight: 400; */
}

.degree__institution {
  display: block;
  font-family: var(--font-family-OpenSans);
}

.degree__date {
  display: block;
  font-family: var(--font-family-OpenSans);
}

/* Redes sociales */

.contact__social_medias {
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid black; */
  border-radius: 20px;
}

.contact__social_medias__item {
  width: 50px;
  height: 50px;
}

.github {
  background-color: #fff;
  border-radius: 30px;
}


/* Diseño responsive para dispositivos mobiles */

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .header {
    width: 100%;
    position: static;
    border: 1px solid var(--color-gris);
  }

  nav.navbar {
    padding: 0;
  }

  .container {
    width: 100%;
  }

  .container__article {
    padding: 0 30px;
  }

  .container__article-presentation{
    padding: 0;
    height: 400px;
    flex-direction: column;
    align-items: center;
  }

  .text__presentation {
    text-align: center;
  }

  .title__word {
    font-size: 3rem;
  }

  .photo__presentation {
    height: 200px;
  width: 200px;
  }

  .about__information {
    flex-direction: column;
  }

  .about__paragraph {
    width: 100%;
  }
}
